@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }


<div class="jumbotron">
    <h1>Edemir Ferreira Junior</h1>
    <p class="lead">edemir.fjunior@al.infnet.edu.br</p>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-left">
                <h3>Software como Serviço (SaaS)</h3>
                <font size=4>
                    <small>
                        <p>
                            O SaaS (Software como Serviço) permite aos usuários se conectar e usar aplicativos 
                            baseados em nuvem pela Internet. Exemplos comuns são email, calendário e ferramentas 
                            do Office <font color="darkblue">(como Microsoft Office 365).</font>

                            O SaaS fornece uma solução de software completa que você pode comprar em uma base paga
                            conforme o uso por um provedor de serviço de nuvem. Você pode alugar o uso de aplicativo
                            para sua organização e seus usuários se conectarem a ele pela Internet, normalmente por
                            um navegador da Web. Toda a infraestrutura subjacente, middleware, software de aplicativo
                            e dados de aplicativo ficam no datacenter do provedor de serviços. O provedor de serviço
                            gerencia hardware e software e, com o contrato de serviço apropriado, garante a disponibilidade
                            e a segurança do aplicativo e de seus dados. O SaaS permite que sua organização entre em funcionamento
                            rapidamente com um aplicativo por custo inicial mínimo. <font color="darkblue">Microsoft Office</font>

                        </p>
                    </small>
                </font>
            </div>
        </div>
        <div class="col">
            <div class="text-left">
                <h3>Plataforma como Serviço (PaaS)</h3>
                <font size=4>
                    <small>
                        <p>
                            PaaS (Plataforma como serviço) é um ambiente de desenvolvimento e implantação completo na nuvem, com recursos 
                            que permitem a você fornecer tudo, de aplicativos simples baseados em nuvem a sofisticados aplicativos empresariais 
                            habilitados para a nuvem. Você adquire os recursos necessários por meio de um provedor de serviços de nuvem em uma base 
                            paga conforme o uso e os acessa por uma conexão com a Internet segura.

                            Assim como IaaS, PaaS inclui infraestrutura – servidores, armazenamento e rede –, além de middleware, ferramentas de 
                            desenvolvimento, serviços de BI (business intelligence), sistemas de gerenciamento de banco de dados e muito mais. 
                            PaaS é criado para dar suporte ao ciclo de vida do aplicativo Web completo: compilação, teste, implantação, gerenciamento e atualização.

                            O PaaS permite a você evitar os gastos e a complexidade de comprar e gerenciar licenças de software, infraestrutura e middleware de 
                            aplicativo subjacente, orquestrador de contêineres como Kubernetes ou ferramentas de desenvolvimento e outros recursos. Você gerencia 
                            os aplicativos e serviços que desenvolve e o provedor de serviços de nuvem normalmente gerencia todos o resto. 
                            <font color="darkblue"> Microsoft Azure Cloud Services.</font>
                        </p>
                    </small>
                </font>
            </div>
        </div>
        <div class="col">
            <div class="text-left">
                <h3>Infraestrutura como Serviço (IaaS)</h3>
                <font size=4>
                    <small>
                        <p>
                            A IaaS (infraestrutura como serviço) é um tipo de serviço de computação em nuvem que oferece recursos fundamentais de computação, armazenamento 
                            e rede sob demanda e pagos conforme o uso. A IaaS é um dos quatro tipos de serviços de nuvem, juntamente com o SaaS (software como serviço), o PaaS 
                            (plataforma como serviço) e a tecnologia sem servidor.

                            A migração da infraestrutura da organização para uma solução de IaaS ajuda a reduzir a manutenção dos datacenters locais, economizar em custos de hardware 
                            e adquirir informações sobre os negócios em tempo real. As soluções de IaaS oferecem flexibilidade para escalar e reduzir os recursos de TI verticalmente 
                            conforme a demanda. Elas também ajudam a provisionar rapidamente novos aplicativos e a aumentar a confiabilidade da infraestrutura subjacente.

                            Com a IaaS, você não precisa arcar com o custo e a complexidade de comprar e gerenciar os servidores físicos e a infraestrutura do datacenter. 
                            Cada recurso é oferecido como um componente de serviço separado e você só paga por um recurso específico durante o tempo em que precisa dele. 
                            Um provedor de serviços de computação em nuvem, como o Azure, gerencia a infraestrutura, enquanto você compra, instala, configura e gerencia seus 
                            produtos de software, incluindo os sistemas operacionais, o middleware e os aplicativos. <font color="darkblue">Windows Server do Azure.</font>
                        </p>
                    </small>
                </font>
            </div>
        </div>

    </div>

</div>